.cars {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 2px solid #cccccc;
  box-shadow: 2px 2px 1px yellowgreen;
}

.input {}

.input:active, .input:focus {

}

.input.green {
  border: 1px solid green;
}

.input.red {
  border: 1px solid red;
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}
